
body {
  display: grid;
  height: 100vh;
  margin: 0;
  grid-template-rows: auto 1fr;
  font-family: system-ui, -apple-system;
}

header {
  border: 5px solid orange;
  padding: 10px;

  ul {
    display: flex;
    padding: 0;
  }

  li {
    list-style-type: none;

    &:not(:first-child) {
      padding-left: .5rem;
    }

    &:not(:last-child) {
      padding-right: .5rem;
      border-right: 1px solid black;
    }
  }
}

.intro {
  padding: 15px;

  li {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}

.container {
  position: relative;
  max-height: 100vw;
  background-image: radial-gradient(#fff, #ccc);
  border: 5px solid green;

  .loadstatus {
    display: grid;
    position: absolute;
    place-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}

.controls {
  padding: 10px;
  border: 5px solid blue;
}

*[hidden] {
  display: none !important;
}

label,
#sizelabel {
  font-weight: bold;
}

#debugmenu {
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
  border-top: 5px solid blue;
}

.modelsize,
.measurementkey {
  margin-top: 10px;
}

fieldset {
  margin-top: 10px;
  padding: 0;
  border: none;
}

#directions {
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
  border-top: 5px solid blue;

  li {
    display: inline;

    &:not(:last-child)::after {
      content: ';'
    }

    &:last-child::after {
      content: '.'
    }
  }
}

#progressbar {
  width: 33%;
}

#loaderror {
  font-weight: bold;
}
